<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/nurseinput.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">护士查看信息</h1>
			<button id='setting' class=" mui-pull-right mui-btn-link">设置</button>
		</header>
		<div class="mui-content">
			<div class="mui-row">
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>用户名</label>
						<input id="name" type="text" class="mui-input-clear" placeholder="用户名">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>证件类型</label>
						<input id="idtype" type="text" class="mui-input-clear" placeholder="证件类型">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>身份证号码</label>
						<input id="idcode" type="text" class="mui-input-clear" placeholder="身份证号码">
					</div>
				</div>
			</div>
			<div class="mui-row">
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>出生日期</label>
						<input type="date" class="mui-input-clear" placeholder="出生日期">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>性别</label>
						<input type="text" class="mui-input-clear" placeholder="性别">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>档案号码</label>
						<input type="text" class="mui-input-clear" placeholder="档案号码">
					</div>
				</div>
			</div>
			<div class="mui-row">
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>治疗状态</label>
						<input type="text" class="mui-input-clear" placeholder="治疗状态">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>所在地区</label>
						<input type="text" class="mui-input-clear" placeholder="所在地区">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>家庭地址</label>
						<input type="text" class="mui-input-clear" placeholder="家庭地址">
					</div>
				</div>
			</div>
			<div class="mui-row">
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>用户名</label>
						<input type="text" class="mui-input-clear" placeholder="用户名">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>地理位置</label>
						<input type="text" class="mui-input-clear" placeholder="地理位置">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>电话号码</label>
						<input type="text" class="mui-input-clear" placeholder="电话号码">
					</div>
				</div>
			</div>
			<div class="mui-row">
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>身份证</label>
						<input type="text" class="mui-input-clear" placeholder="身份证">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>生日</label>
						<input type="date" class="mui-input-clear" placeholder="生日">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>住院时间</label>
						<input type="text" class="mui-input-clear" placeholder="住院时间">
					</div>
				</div>
			</div>
			<div class="mui-row">
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>血透机器</label>
						<input type="text" class="mui-input-clear" placeholder="血透机器">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>所在地区</label>
						<input type="text" class="mui-input-clear" placeholder="所在地区">
					</div>
				</div>
				<div class="mui-col-sm-4">
					<div class="mui-input-row">
						<label>家庭地址</label>
						<input type="text" class="mui-input-clear" placeholder="家庭地址">
					</div>
				</div>
			</div>
			<div class="mui-button-row">
				<button type="button" class="mui-btn mui-btn-primary">确认</button>
				<button type="button" class="mui-btn mui-btn-danger">取消</button>
			</div>
		</div>
		<script src="../js/mui/mui.min.js"></script>
		<script type="text/javascript" src="../js/jquery/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="../js/namespace/namespace.js"></script>
		<script type="text/javascript" src="../modules/nurse/nurseinput.js"></script>
	</body>

</html>